<form [formGroup]="editForm" class="popup-card-width" autocomplete="off">

  <div fxLayout="row" fxLayoutAlign="space-between start">
    <h2 mat-dialog-title>Edit Customer</h2>
    <mat-icon class="clickable" (click)="dialogRef.close()" matPrefix>close</mat-icon>
  </div>

  <mat-dialog-content>
    <div>
      <div>
        <mat-form-field class="mrgn-b-xs full-wid" appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" type="text" placeholder="Name">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-error *ngIf="errorHandling('name', 'required')">
            This field is required
          </mat-error>
        </mat-form-field>

        <mat-form-field class="mrgn-b-xs full-wid" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="text" placeholder="Email">
          <mat-icon matSuffix>email</mat-icon>
          <mat-error *ngIf="errorHandling('email', 'required')">
            This field is required
          </mat-error>
          <mat-error *ngIf="errorHandling('email', 'email')">
            Email invalid format
          </mat-error>
        </mat-form-field>

        <mat-form-field class="mrgn-b-xs full-wid" appearance="outline">
          <mat-label>Phone</mat-label>
          <input matInput formControlName="phone" type="text" placeholder="Phone">
          <mat-icon matSuffix>phone</mat-icon>
          <mat-error *ngIf="errorHandling('phone', 'required')">
            This field is required
          </mat-error>
          <mat-error *ngIf="errorHandling('phone', 'pattern')">
            Number Only
          </mat-error>
        </mat-form-field>


        <mat-form-field class="full-wid mrgn-b-sm" appearance="outline">
          <mat-label>Choose Picture if you want to change current profile picture</mat-label>
          <ngx-mat-file-input [disabled]="!pictureInput.empty" (change)="pictureInputChange($event)" accept='image/*'
            #pictureInput formControlName="picture" placeholder="PDF File">
          </ngx-mat-file-input>
          <mat-icon *ngIf="pictureInput.empty" matSuffix>folder</mat-icon>
          <button mat-icon-button matSuffix *ngIf="!pictureInput.empty" (click)="clearPictureInput($event)">
            <mat-icon>clear</mat-icon>
          </button>
        </mat-form-field>


      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions class="mrgn-b-xs pad-b-none" align="right">
    <button type="button" mat-raised-button (click)="dialogRef.close()" color="primary">CLOSE</button>
    <button (click)="update()" type="submit" [disabled]="!editForm.valid" mat-raised-button color="warn">Update</button>
  </mat-dialog-actions>
</form>
