<form autocomplete="off" class="popup-card-width" [formGroup]="editForm">

    <div fxLayout="row" fxLayoutAlign="space-between start">
        <h2 mat-dialog-title>Edit Contract</h2>
        <mat-icon class="clickable" (click)="dialogRef.close()" matPrefix>close</mat-icon>
    </div>

    <mat-dialog-content>
        <div>
            <div>

                <mat-form-field class="mrgn-b-sm full-wid" appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" placeholder="Name" formControlName="name">
                    <mat-icon matSuffix>hourglass_bottom</mat-icon>
                    <mat-error *ngIf="errorHandling('name', 'required')">
                        This field is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="mrgn-b-sm full-wid" appearance="outline">
                    <mat-label>Description</mat-label>
                    <input matInput type="text" placeholder="Description" formControlName="description">
                    <mat-icon matSuffix>notes</mat-icon>
                </mat-form-field>


                <mat-form-field class="full-wid mrgn-b-sm" appearance="outline">
                    <mat-label>Choose File if you want to change current pdf</mat-label>
                    <ngx-mat-file-input [disabled]="!pdfInput.empty" (change)="uploadPdf($event)" accept='application/pdf' #pdfInput [formControl]="pdfCtrl" placeholder="Choose File if you want to change current pdf"></ngx-mat-file-input>
                    <mat-icon *ngIf="pdfInput.empty" matSuffix>folder</mat-icon>
                    <button mat-icon-button matSuffix *ngIf="!pdfInput.empty" (click)="clearPdfInput($event)">
      <mat-icon>clear</mat-icon>
    </button>
                </mat-form-field>


            </div>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions class="mrgn-b-xs pad-b-none" align="right">
        <button type="button" mat-raised-button (click)="dialogRef.close()" color="primary">CLOSE</button>
        <button (click)="update()" type="submit" [disabled]="!editForm.valid" mat-raised-button color="warn">Update</button>
    </mat-dialog-actions>

</form>
